body {
    background: #b9b3b3;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, 'Times New Roman', Times, serif;
}

header {
    background: violet;
    color: #fff;
    text-align: center;
    padding: 6px;
    border-radius: 12px;
}

table {
    border: 2px solid rgb(117, 75, 75);
    border-radius: 5px;
} 

th, td {
    border: 2px solid rgb(134, 25, 134);
    text-align: center;
    padding: 8px;
    margin: 0px;
}

mark {
    background-color: rgb(129, 89, 89);
    color: rgb(52, 84, 52);
    padding: 4px;
    border-radius: 7px;
}

/* th {
    border: 1px solid blue;
}
tr {
    border: 2px soild pink;
} */